<div fxLayoutAlign="center">
    <mat-card fxLayout="column" fxFlex="100" fxFlex.sm="85" fxFlex.gt-sm="75">
        <app-file-upload></app-file-upload>
        <app-featured-image></app-featured-image>
        <form autocomplete="off" novalidate [formGroup]="form" (submit)="save()">
            <!-- <span fxLayoutAlign="space-between center">
                <mat-form-field class="stretch" fxFlex.gt-md="75" fxFlex.lt-md="60" fxflex.lt="65">
                    <input #imageURL matInput [placeholder]="'post.input.featured_image' | translate"
                        name="featured_image" formControlName="featured_image">
                    <mat-error *ngIf="form.get('featured_image')?.hasError('url')">
                        {{ 'validation.url' | translate }}
                    </mat-error>

                </mat-form-field>

                <button type="button" color="primary" mat-raised-button ç>
                    {{ 'upload.browse' | translate }}
                </button>
            </span> -->

            <!-- <figure *ngIf="imageURL.value">
                <img [src]="imageURL.value">
                <figcaption fxLayoutAlign="center center">
                    <button id="myDelButton" mat-fab color="primary" aria-label="delete post featured image">
                        <mat-icon>close</mat-icon>
                    </button>
                </figcaption>
            </figure> -->
            <mat-card-content>
                <mat-form-field>
                    <input autofocus matInput [placeholder]="'post.input.title' | translate" name="title"
                        formControlName="title">
                    <mat-error>
                        {{ 'validation.required' | translate }}
                    </mat-error>
                </mat-form-field>

                <div>
                    <tinymce matInput name="content" [config]="options" formControlName="content"></tinymce>
                </div>

                <!-- MATERIAL CHIPS -->
                <mat-form-field>
                    <mat-chip-list #chipList formArrayName="tags">
                        <mat-chip *ngFor="let tag of tags.controls; let i=index;" [selectable]="selectable"
                            [removable]="removable" (removed)="remove( i)">
                            {{tag.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-error>Atleast 1 tag need to be added</mat-error>
                </mat-form-field>
            </mat-card-content>
            <div align="end">
                <button type="submit" color="primary" mat-raised-button [disabled]="form.invalid && form.dirty">
                    {{ 'post.input.save' | translate }}
                </button>
            </div>
            <div>
                <pre>{{form.value | json}}</pre>
            </div>
        </form>
    </mat-card>
</div>