.button {
    color: white;
    background-color: blue;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
}

::ng-deep .webcam-wrapper video,
.snapshot img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

ul.links {
    padding-bottom: 10px;
}