mat-card {
    background-color: #202124;
    height: 41.25rem;
    border-radius: 0.5rem;
    color: whitesmoke;

    .mat-card-header {
        color: #e8eaed;
        padding: 0.5rem 0;
        line-height: 1rem;
        font-size: 1.125rem;
        letter-spacing: 0;
        font-weight: 400;

        button {
            background-color: transparent;
        }
    }

    mat-card-content {
        height: calc(100% - 9rem);

        mat-spinner {
            ::ng-deep circle {
                stroke: #8AB4F8;
            }
        }

        ::ng-deep .webcam-wrapper video,
        .snapshot img {
            width: 100%;
            height: auto;
            max-height: 100%;
        }

        image-cropper {
            max-height: 28rem;

        }

        --cropper-overlay-color:transparent;
        --cropper-outline-color:transparent;

        mat-spinner {
            ::ng-deep circle {
                stroke: #8AB4F8;
            }
        }

    }

    mat-card-actions {

        button {
            background-color: transparent;
            color: #8AB4F8;
            margin: auto 1rem;

            &:hover {
                transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
                color: whitesmoke;
            }
        }
    }

    .info {
        animation: blinker 3000ms cubic-bezier(0.35, 0, 0.25, 1) infinite;
        margin-top: 1rem;
    }


    @keyframes blinker {
        from {
            opacity: 1.0;
        }

        50% {
            opacity: 0.2;
        }

        to {
            opacity: 1.0;
        }
    }

}