<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mat-card-header">
        <div>
            <button mat-mini-fab [matTooltip]="'upload.back'|translate" routerLink="/uploads">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div><span>Cámara</span></div>
        <div>
            <button mat-mini-fab [matTooltip]="'upload.action.reset'|translate" (click)="reset()">
                <mat-icon>restart_alt</mat-icon>
            </button>
        </div>
    </div>

    <mat-card-content fxLayoutAlign="center center">
        <mat-spinner *ngIf="loading$|async" strokeWidth="4" diameter="50"></mat-spinner>

        <ng-container *ngIf="isCameraExist; else noCameraExist">
            <div fxLayout="column" fxLayoutAlign="center center">
                <!-- <div class="btn-group">
                            <button class="button" (click)="takeSnapshot()">Take Picture</button>
                            <button class="actionBtn" (click)="showNextWebcam(true)" [disabled]="!multipleWebcamsAvailable">Next
                                Toggle Camera</button>
                            <button class="button" (click)="onOffWebCame()">On/Off camera</button>
                        </div> -->

                <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                    (click)="takeSnapshot()" [allowCameraSwitch]="allowCameraSwitch"
                    [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
                    (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>

                <div class="snapshot" *ngIf="pictureTaken|async as snapshot">
                    <img [src]="snapshot.imageAsDataUrl" />
                </div>

            </div>

        </ng-container>

        <ng-template #noCameraExist>
            Camera device not available
        </ng-template>

    </mat-card-content>

    <mat-card-actions>
        <div class="info" fxLayoutAlign="center center">
            <h2>{{ 'toast.upload.camera_click_anywhere' | translate}}</h2>
        </div>
    </mat-card-actions>
</mat-card>